server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
resilience4j:
  circuitbreaker:
    instances:
      npiRegistryCb:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
